<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"><body>
    <header>
        <h1>Recommendations</h1>
    </header>
    <main>
        <section>
            
            <ul>
                {% for recommendation in recommendations %}
                <li>{{ recommendation }}</li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>